
{% extends "layout.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="sub-header">用户添加</h2>
    <div class="row">
        <div class="col-md-12">
            <a  class="btn btn-primary pull-right" href="/user/list">返回列表</a>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" action="/user/add" method="post">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">用户名称</label>
                <div class="col-sm-6">
                    <input type="text" required name="name" class="form-control" id="inputName" placeholder="用户名称">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">用户邮箱</label>
                <div class="col-sm-6">
                    <input type="email"  required  name="email" class="form-control" id="inputDescs" placeholder="用户邮箱">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">设置密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="设置密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputRepassword" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-6">
                    <input type="password" name="repassword" class="form-control" id="inputRepassword" placeholder="确认密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input name="status" type="checkbox" value="1" checked="checked"> 开启
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                </div>
            </div>
        </form>

    </div>>
</div>
{% endblock %}