
{% extends "layout.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="sub-header">权限列表</h2>
    <div class="row">
        <div class="col-md-12">
            <a  class="btn btn-primary pull-right" href="/access/add">添加权限</a>
        </div>
    </div>
    <div class="table-responsive">
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>URL</th>
                    <th>位置</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
             
                {% if accesslist|length > 0 %}
                    {% for access in accesslist %}
                    <tr>
                        <td>{{ access.id |e }}</td>
                        <td>{{ access.title |e }}</td>
                        <td>{{ access.url |e }}</td>
                        <td>{{ access.menu |e }}</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="/access/edit/id/{{ access.id |e }}" role="button">编辑</a> 
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Not Found Data</td>
                    </tr>
                {% endif %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}